.navbar {
    font-family: raleway, sans-serif;
    z-index: 9999;
    letter-spacing: 3px;
    font-size: 12px;
    background-color: white;
}   

.navbar a {
    transition: 0.3s;
    color: black;
}

.navbar a:hover {
    color: #A69072;
}

.navbar-brand img {
    height: 45px;
}

.navbar-brand {
    padding: 0px 60px;
    margin: 0;
}

.nav-item {
    margin: 12px;
    font-weight: 800;
}