.navbar {
    font-family: raleway, sans-serif;
    z-index: 9999;
    letter-spacing: 3px;
    font-size: 12px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 92%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
    transition: 500ms ease;
}   

/* .navbar:hover {
    background-color: rgba(0, 0, 0, .8);
} */
.navbar.scrolled {
    background: #fff;
    color: black;
}

.navbar a.scrolled {
    transition: 0.3s;
    color: black;
}

.navbar a.scrolled:hover {
    color: #A69072;
}

.navbar a {
    transition: 0.5s;
    color: #ccc;
}

.navbar a:hover {
    color: #fff;
}

.navbar-brand img {
    height: 45px;
}

.navbar-brand {
    padding: 0px 60px;
    margin: 0;
}

.nav-item {
    margin: 12px;
    font-weight: 800;
}
.big-pic {
    transition: 1s;
    text-align: center;
    padding: 30px;
    background: white;
    margin: 15px 0;
}


.big-pic:hover {
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
    z-index: 999;
}

.big-pic h4 {
    text-transform: uppercase;
    font-family: 'Lustria', serif;
    font-weight: 800;
    color: #555;
    margin: 0;
}

.big-pic p {
    text-transform: uppercase;
    font-family: lato;
    font-size: 10px;
    font-weight: 200;
    color: #888;
    margin-bottom: 0.5rem;
}

.big-pic h5 {
    text-transform: uppercase;
    font-family: lato;
    font-size: 10px;
    margin: 0 20%;
}

.my-big-pic-desc {
    margin: 0.5rem;
}

.category {
    font-family: lustria;
    margin: 25px;
    font-size: 12px;
    font-weight: 800;
}

.read-more {
    font-family: LATO;
    font-style: italic;
    font-size: 18px;
    padding: 20px 0 0 0;
    letter-spacing: 3px;

}

.empty-div {
    height: 5vw;
}

  @media only screen and (max-width: 400px) {
    .big-pic {
      min-width: 200px;
    }
  }