.empty-div-top {
    height: 150px;
}

.big-pic {
    transition: 1s;
    text-align: center;
    padding: 35px;
    margin: 15px;
    background: white;
}

.big-pic:hover {
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
    z-index: 999;
}

.big-pic h4 {
    text-transform: uppercase;
    font-family: 'Lustria', serif;
    font-weight: 800;
    color: #555;
    margin: 0;
}

.big-pic p {
    text-transform: uppercase;
    font-family: lato;
    font-size: 10px;
    font-weight: 200;
    color: #888;
}

.big-pic h5 {
    text-transform: uppercase;
    font-family: lato;
    font-size: 14px;
    margin: 0 10%;
}

.category {
    font-family: lustria;
    margin: 25px;
    font-size: 12px;
    font-weight: 800;
}

.read-more {
    font-family: LATO;
    font-style: italic;
    font-size: 18px;
    padding: 20px 0 0 0;
    letter-spacing: 3px;

}

.empty-div {
    height: 10vh;
}

.footer-accel {
    padding: 0 100px;
}

.footer-accel p {
    margin: 0;
    font-family: 'lato';
    font-size: 12px;
}

.footer-accel h4 {
    font-family: lustria;
    font-size: 18px;
    margin-top: 50px;
}


.accessory {
    height: 6px;
    background-image: radial-gradient(closest-side,
            hsla(0, 0%, 50%, 1.0),
            hsla(0, 0%, 50%, 0) 100%);
    position: relative;
}

.accessory:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background-color: hsl(0, 0%, 75%);
    height: 12px;
    width: 12px;
    transform: rotate(45deg);
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 4px 0;
    border: 4px solid hsla(0, 0%, 100%, 0.35);
    background-clip: padding-box;
    box-shadow: -10px 10px 0 hsla(0, 0%, 100%, 0.15), 10px -10px 0 hsla(0, 0%, 100%, 0.15);
}

.copyright {
    text-align: center;
    color: #555;
    text-transform: uppercase;
    font-family: lato;
    font-size: 8px;
    margin-top: 100px;
}
